@import 'nib'
@import 'normalize'


body
	text-align center


h1
	color #E62117


.btn
	padding 1em 2em
	

.video-container
	height 0
	overflow hidden
	padding 25%
	position relative
	
iframe
	height 100%
	left 0
	position absolute
	top 0
	width 100%